@font-face {
  font-family: 'Abel';
  src: url('./assets/fonts/abel-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/abel-regular-webfont.woff') format('woff');
    font-style: normal;
}

$primary-color: #111D44;
$secondary-color: #b2b8b7;
$complementary-color: #000;
$yellow: #ffc600;
$black: #272727;

* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Abel', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-wrapper {
  display: grid;
  grid-template-rows: 2fr 8fr 1fr;
  grid-template-columns: 1fr 6fr;
  height: 100%;
}
 
.header > h1 {
  font-size: 40px;
  font-weight: 800;
  color: $secondary-color;
}

.header {
  display: flex;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background: rgb(7,18,24);
  background: linear-gradient(180deg, rgba(7,18,24,1) 25%, rgba(11,19,46,1) 50%, rgba(17,29,68,1) 75%, rgba(17,29,68,1) 100%);
  gap: 15px;
  padding: 0 30px;
}

.sidebar {
  display: grid;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: $secondary-color;
  color: $primary-color;
  align-content: start;
  padding: 30px;
  gap: 30px;
  font-size: 27px;
  font-weight: 600;
}

.sidebar > div:not(.projects) {
  cursor: pointer;
}

.sidebar > div:hover:not(.projects) {
  background-color: rgb(198, 209, 207);
  border-radius: 10px;
}

.main-content {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 3fr 1fr 1fr;
  grid-row: 2 / 3;
  grid-column: 2 / -1;
  background-color: #dfd5d5;
}

.add-task {
  display: inline-flex;
  align-items: center;
  margin: 0;
  gap: 5px;
  cursor: pointer;
  margin: 20px 20px;
  padding: 3px 6px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.add-task > * {
  margin: 0;
  padding: 0;
}

.add-task:hover {
  background-color: $secondary-color;
  border-radius: 8px;
}

.add-task:hover > svg {
  transform: rotate(90deg);
  transition: 0.4s ease-in-out;
}

.current-tab {
  color: $primary-color;
  font-size: 30px;
  font-weight: 600;
  justify-self: center;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

form {
  position: fixed;
  display: none;
  gap: 10px;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $secondary-color;
  color: $primary-color;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 1px;
}

.widget {
  display: flex;
  flex-direction: column;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
}

.form-buttons > * {
  cursor: pointer;
}

.form-buttons > svg:hover {
  background-color: #c3c7c7;
}

.home-tasks {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
  align-content: start;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
}

.tasks-header {
  display: inline-flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 0 10px;
  padding-left: 40px;
}


.due {
  padding-right: 30px;
}

.task,
.task-project {
  display: flex;
  padding: 0 10px;
}

.task-done {
  margin-right: 10px;
}

.task-n {
  margin-right: auto;
  cursor: pointer;
}

.task:hover {
  background-color: #e6dede;
}

.task-date {
  padding-right: 10px;
}

.home-tasks > * {
  grid-column: 2 / 3;
  border-bottom: 1px solid $primary-color;
}

.delete-task {
  cursor: pointer;
}

.delete-task:hover {
  animation: move-up 0.5s ease-in-out;
}

.info-display {
  position: fixed;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 50%;
  height: 50%;
  gap: 5px;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $secondary-color;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 1px;
  color: $primary-color;
  overflow-y: auto;
}

.close-info {
  justify-self: end;
  cursor: pointer;
}

.projects {
  .new-project {
    display: none;
  }

  &:hover .new-project {
    display: block;
    font-size: 15px;
    padding: 10px 0;
    padding-left: 20px;
  }
}

.new-project:hover {
  cursor: pointer;
}

.project-form {
  position: fixed;
  gap: 10px;
  z-index: 99;
  top: 50%;
  left: 50%;
  width: clamp(100px, 200px, 300px);
  height: clamp(50px, 100px, 150px);
  transform: translate(-50%, -50%);
  background-color: $secondary-color;
  color: $primary-color;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 1px;
}

.submit-project,
.cancel-project {
  width: auto;
  height: auto;
  padding: 3px 9px;
  cursor: pointer;
  border-radius: 10px;
}

.submit-project {
  background-color: $primary-color;
  color: $secondary-color;
}

.submit-project:hover {
  background-color: #2c3d74;
  color: #a5b0ae;
}

.cancel-project {
  background-color: $secondary-color;
  color: $primary-color;
}

.cancel-project:hover {
  background-color: #d4d9d8;
  color: #152043;
}

.project {
  cursor: pointer;
  font-size: 16px;
  padding-left: 15px;
}

.project:hover {
  background-color: #d4d9d8;
}

.delete-project {
  grid-row: 1 / 2;
  grid-column: 3 /4;
  justify-self: end;
  align-self: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.delete-project:hover {
  animation: move-up 0.5s ease-in-out;
}


@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


a {
  text-decoration: none;
  color: $secondary-color;
}

a:visited{
  color: $secondary-color;
}

.footer {
  display: grid;
  grid-row: -2 / -1;
  grid-column: 1 / -1;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 0 20px;
}

@media (max-width: 500px) {
  .main-content {
    grid-template-rows: auto auto 1fr;
  }

  .current-tab {
    grid-row: 2 / 3;
  }

  .task {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    padding: 0 10px;
  }

  .home-tasks {
    grid-row: 3 / -1;
  }

  .tasks-header {
    padding: 0;
  }

  .task-date {
    padding-right: 0;
    justify-self: end;
  }

  .task > img {
    justify-self: end;
    grid-column: 2 / -1;
    padding-right: 20px;
    padding-bottom: 3px;
  }

  .info-display {
    width: 50%;
    height: 50%;
  }

  .due {
    padding-right: 0;
  }
  
  .task > * {
    font-size: 12px;
  }
}